<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>MyBlog</title>
		<meta name="viewport" conten="width=device-width,initial-scale=1.0" charset="utf-8">
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class = "navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a href="" class="brand">Louistz</a>
				</div>
				<a href="" class="brand">首页</a>
				<form action="" id="" class="navbar-search">
					<input type="text" class="search-query span3">
				</form>
				<ul class="nav pull-right">
					<li><a href="">分类</a></li>
					<li><a href="">归档</a></li>
					<li><a href="">项目</a></li>
					<li><a href="">工具</a></li>
					<li><a href="">书单</a></li>
					<li><a href="">关于</a></li>
				</ul>
			</div>
		</div>
			<div class="navbar">
				<div class="navbar-inner">
					<ul class="nav">
						<li><a href="">blog</a></li>
						<li><a href="">article</a></li>
						<li><a href="">all</a></li>
					</ul>
				</div>
			</div>
			<div class="contianer span10 offset2">
				<div class="row" ng-controller="MyController">
					<h2>Content</h2>
					<greet expander-title="title">{{text}}</greet>

				</div>
				<div class="row" ng-controller="DialogCtrl">
					<my-dialog ng-show="show" on-close="closeDialog()">Hello,{{name}}</my-dialog>
				</div>
				<div class="row" >
					<div my-draggable>拖我</div>
				</div>
				<div class="row" >
					<my-tabs>
						<my-pane id="1" title="hello">
							<h5>Hello</h5>
							<p>first</p>
						</my-pane>
						<my-pane title="world">
							<h5>World</h5>
							<p>second</p>
						</my-pane>
					</my-tabs>
				</div>
			</div>
			<div class="footer">
				<div class="container">
					
				</div>
			</div>
		<script src="js/lib/jquery-1.11.0.min.js"></script>
		<script src="js/lib/bootstrap.min.js"></script>
		<script src="js/lib/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/directive.js"></script>
		<script src="js/controller.js"></script>
		<script type="text/ng-template" id="my_pane.html">
  			<div class="tab-pane" ng-show="selected" ng-transclude>
			</div>
		</script>
		<script type="text/ng-template" id="my_tab.html">
  			<div class="tabbable">
  				<ul class="nav nav-tabs">
    				<li ng-repeat="pane in panes" ng-class="{active:pane.selected}">
      					<a href="" ng-click="select(pane)">{{pane.title}}</a>
    				</li>
  				</ul>
  				<div class="tab-content" ng-transclude></div>
			</div>
		</script>
	</body>
</html>
